---
import { HorizontalDatePicker } from '../components/HorizontalDatePicker';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<HorizontalDatePicker client:only="solid-js"/>
	</main>
</Layout>